
/** =================================
 * Formulario de Logueo
====================================*/

.wrapper123 {
float:left;
	margin: 5px  20px auto;
	max-width: 200px;
	width: 40%;
}
.wrapper1234 {
	float:right;
	margin: 0px auto;
	max-width: 700px;
	width: 80%;
}

.wrapper123 h1 {
	text-align: center;
	color: #FFF;
	font: 300 3.6em 'Roboto Condensed', 'Open Sans', Arial, 'Helvetica Neue', Sans-serif, Verdana;
	text-shadow: 0 2px 0 rgba(0,0,0,0.2);
	margin-bottom: 40px;
}

.wrapper123 span {
	color: #74b5dd;
}

.login {
	
	overflow: hidden;
	background: #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 0 0 100px rgba(255,255,255,0.15);
}

.login h2 {
	display: block;
	padding: 15px 0;
	margin-bottom: 40px;
	border-bottom: 1px solid #649bbd;
	color: #FFF;
	font: 200 2em 'Roboto Condensed', 'Open Sans', Arial, 'Helvetica Neue', Sans-serif, Verdana;
	text-align: center;
	text-shadow: 0 2px 0 rgba(0,0,0, 0.15);
	background: #74b5dd;
	background: -webkit-linear-gradient(#78b7de, #6ea8cc);
	background: -moz-linear-gradient(#78b7de, #6ea8cc);
	background: -o-linear-gradient(#78b7de, #6ea8cc);
	background: linear-gradient(#78b7de, #6ea8cc);
	-webkit-box-shadow: inset 0 1px 1px rgba(255,255,255, 0.4);
	-moz-box-shadow: inset 0 1px 1px rgba(255,255,255, 0.4);
	box-shadow: inset 0 1px 1px rgba(255,255,255, 0.4);
}

.login-container {
	padding: 0 30px 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.login input[type="text"], .login input[type="password"] {
	height: 46px;
	width: 100%;
	display: block;
	padding: 0 10px;
	font-size: 1.2em;
	background: #FFF;
	border: 1px solid #CCC;
	color: #4d4d4d;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: border-color 0.4s ease;
	-o-transition: border-color 0.4s ease;
	transition: border-color 0.4s ease;
}

.login input[type="text"]:focus, .login input[type="password"]:focus {
	outline: 0;
	border-color: #73b2d9;
}

.login label {
	display: block;
	margin-bottom: 12px;
	color: #353942;
	font-weight: 700;
	font-size: 1.6em;
}

.login input + label {
	margin-top: 25px;
}

.primary_action {
	width: 100%;
	height: 54px;
	margin-top: 30px;
	display: inline-block;
	border: 0;
	color: #FFF;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.2);
	font-size: 1.6em;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
	background: #78b7de;
	-webkit-box-shadow: 0 2px 0 #4a718a;
	-moz-box-shadow: 0 2px 0 #4a718a;
	box-shadow: 0 2px 0 #4a718a;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	transition: background 0.3s ease;
}

.primary_action:focus {
	outline: 0;
}

.primary_action:hover {
	opacity: 1;
	background: #558eb1;
}

.contenedor_presenta
{

background-color: #560000;
    /*background-color:#356AA0;*/
    /*box-shadow: 0 0 0 9px rgba(128,0,0,.1);*/
    /*Margen de sombra alrededor del contenedor 8px negro*/
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.8);
    /*Las 3 líneas siguientes, sirven para el borde redondeado
     * pero para diferentes navegadores*/
    -webkit-border-radius:5px;
    -moz-border-radius:10px;
    border-radius:10px;
	width:100%;
	height:100%;
	color:#fff;
	padding:10px 10px 10px 10px;
	margin-bottom: 40px;

}

.contenedor_presenta p
{

color:#fff;
}









.info p {
  text-align:center;
  color: #999;
  text-transform:none;
  font-weight:600;
  font-size:15px;
  margin-top:2px
}

.info i {
  color:#F6AA93;
}
form h1 {
  font-size: 18px;
  background: #F6AA93 none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  padding: 22px 25px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none; 
  text-align:left
}



form {
  border-radius: 5px;
  max-width:700px;
  width:100%;
  margin: 5% auto;
  overflow: hidden;
}

p span {
  color: #F00;
}

p {
  margin: 0px;
  font-weight: 500;
  line-height: 2;
  color:#333;
}

h1 {
  text-align:center; 
  color: #666;
  text-shadow: 1px 1px 0px #FFF;
  margin:50px 0px 0px 0px
}

input {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  width: 75%;
  height: 40px;
  float: left;
  padding: 0px 15px;
}

select 
{
border-radius: 0px 5px 5px 0px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  width: 75%;
  height: 40px;
  float: left;
  padding: 0px 15px;

}


a {
  text-decoration:inherit
}

textarea {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #EEE;
  margin: 0;
  width: 75%;
  height: 130px; 
  float: left;
  padding: 0px 15px;
}

.form-group {
  overflow: hidden;
  clear: both;
}

.icon-case {
  width: 35px;
  float: left;
  border-radius: 5px 0px 0px 5px;
  background:#eeeeee;
  height:42px;
  position: relative;
  text-align: center;
  line-height:40px;
}

i {
  color:#555;
}

.contentform {
  padding: 0px 30px;
  
}

.bouton-contact{
  background-color: #81BDA4;
  color: #FFF;
  text-align: center;
  width: 100%;
  border:0;
  padding: 17px 25px;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  margin-top: 40px;
  font-size: 18px;
}

.leftcontact {
  width:49.5%; 
  float:left;
  border-right: 1px dotted #CCC;
  box-sizing: border-box;
  padding: 0px 15px 0px 0px;
}

.rightcontact {
  width:49.5%;
  float:right;
  box-sizing: border-box;
  padding: 0px 0px 0px 15px;
}

.validation {
  display:none;
  margin: 0 0 10px;
  font-weight:400;
  font-size:13px;
  color: #DE5959;
}

#sendmessage {
  border:1px solid #fff;
  display:none;
  text-align:center;
  margin:10px 0;
  font-weight:600;
  margin-bottom:30px;
  background-color: #EBF6E0;
  color: #5F9025;
  border: 1px solid #B3DC82;
  padding: 13px 40px 13px 18px;
  border-radius: 3px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
}

#sendmessage.show,.show  {
  display:block;
}